@inherits LayoutComponentBase

<nav class="topnav">
    <span class="topnav-brand">
        <span class="topnav-brand-icon">CA</span>
        <span class="topnav-brand-text">
            <span class="topnav-brand-name">CobolAnalyst</span>
            <span class="topnav-brand-sub">Legacy Modernisation</span>
        </span>
    </span>
    <div class="topnav-links">
        <NavLink href="/" Match="NavLinkMatch.All">Analyst</NavLink>
        <NavLink href="/sessions">Sessions</NavLink>
        <NavLink href="/generate">Generate</NavLink>
        <NavLink href="/accuracy">Accuracy</NavLink>
        <NavLink href="/workshop">Workshop</NavLink>
    </div>
</nav>

<main class="main-content">
    @Body
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <span class="dismiss">&#x2715;</span>
</div>
